.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-left: 20px;
}
.header__link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.header__link:hover:after {
  width: 100%;
}
.header__logo {
  width: 70px;
  height: auto;
}

.about {
  margin-bottom: 150px;
}
.about__top {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.about__img {
  width: 700px;
  height: auto;
  border-radius: 20px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.about__list--item {
  font-size: 20px;
}
.about__sublist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__sublist--item {
  font-size: 20px;
  list-style: none;
}
.about__place {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.about__place--text {
  font-size: 24px;
  font-weight: bold;
}
.about__place--map {
  font-size: 24px;
  color: #fff;
  text-decoration: underline;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.pastor {
  margin-bottom: 150px;
}
.pastor__desc {
  font-size: 20px;
}
.pastor__top {
  margin-bottom: 60px;
}
.pastor__top--left {
  display: flex;
  gap: 40px;
}
.pastor__img {
  width: 50%;
  height: auto;
  border-radius: 20px;
}
.pastor__bottom {
  margin-bottom: 60px;
}
.pastor__bottom--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pastor__bottom--list-item {
  font-size: 18px;
}
.pastor__ps {
  font-size: 16px;
}

.vision {
  margin-bottom: 150px;
}
.vision__desc {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.vision__desc--left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.vision__desc--img {
  border-radius: 20px;
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donuts__subtitle {
  margin-bottom: 60px;
}
.donuts__blocks {
  border: 3px solid #c7254e;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 20px;
}
.donuts__blocks--block {
  border: 1px solid #c7254e;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.donuts__blocks--block-title {
  text-align: center;
}
.donuts__ps {
  font-size: 18px;
  font-weight: 600;
}
.donuts__visa {
  display: flex;
  justify-content: center;
}

body {
  position: relative;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main {
  min-width: 100%;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  /* font-size: 17.5px; */
  color: #c7254e;
  border-left: 5px solid #c7254e;
}

.postheader__inner {
  width: 100%;
  margin-bottom: 60px;
}
.postheader__inner--img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
