.about {
  margin-bottom: 150px;
  &__top {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
  }

  &__img {
    width: 700px;
    height: auto;
    border-radius: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;

    &--item {
      font-size: 20px;
    }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--item {
      font-size: 20px;
      list-style: none;
    }
  }

  &__place {
    display: flex;
    flex-direction: column;
    &--text {
      font-size: 24px;
      font-weight: bold;
    }

    &--map {
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      color: #fff;
      text-decoration: underline;
    }
  }
}